/* Hide sidebar header */
#sidebar-header,
#sidebar-splitter {
  display: none;
}

/* Removes white flash before opening new tab or window */
#tabbrowser-tabpanels {
  background-color: #1d1b19 !important;
}

/* Slim scrollbars */
* {
  scrollbar-width: thin !important;
}

/* Hide tabs */
#main-window #TabsToolbar {
  overflow: hidden;
  min-height: 1px !important;
  max-height: 5em;
  transition: max-height 0.3s ease-in-out !important;
}
#main-window #TabsToolbar .toolbar-items {
  overflow: hidden;
  max-height: 5em;
  transition: max-height 0.3s ease-in-out !important;
}
#main-window[titlepreface*="​"] #TabsToolbar {
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.3s ease-in-out, visibility 0s 0.3s !important;
}
#main-window[titlepreface*="​"] #TabsToolbar .toolbar-items {
  max-height: 0;
}
#main-window[titlepreface*="​"] #tabbrowser-tabs {
  z-index: 0 !important;
}

/* Show sidebar only when the cursor is over it  */
/* Hide splitter line */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
  + #sidebar-splitter {
  display: none !important;
}

/* Source file https://github.com/nuclearcodecat/shimmer/tree/main */

/*? shimmer variables */
:root {
  --shimmer-cbar-collapsed-width: 42px;
  --shimmer-cbar-expanded-width: 300px;
  --shimmer-top-bottom-browser-margin: 8px;
  --shimmer-sidebar-splitter-width: var(--shimmer-top-bottom-browser-margin);
}

:root {
  --arrowpanel-menuitem-margin-inline: 5px !important;
  --arrowpanel-header-min-height: calc(
    calc(
        var(--arrowpanel-header-back-icon-full-width) +
          (var(--panel-separator-margin-horizontal) * 2)
      ) * 0.5
  ) !important;
  --arrowpanel-menuitem-padding: 4px 8px !important;
  --arrowpanel-border-radius: 12px !important;
  --arrowpanel-menuitem-border-radius: calc(
    var(--arrowpanel-border-radius) / 1.65
  ) !important;
  --inactive-titlebar-opacity: 1 !important;
  --splitter-width: var(--shimmer-sidebar-splitter-width) !important;
}

/*? hide spacers when sidebery open */
@media (-moz-bool-pref: "shimmer.native-vertical-tabs") {
  #TabsToolbar .titlebar-spacer {
    display: none;
  }
}
#main-window[titlepreface="​"] #TabsToolbar .titlebar-spacer {
  display: none;
}

/*? collapsing sidebar */
@media not (-moz-bool-pref: "shimmer.disable-collapsing-sidebar") {
  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover {
    width: var(--shimmer-cbar-expanded-width) !important;
    transition: width 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    min-width: 0 !important;
    z-index: 999 !important;
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(
      :hover
    ) {
    width: var(--shimmer-cbar-collapsed-width) !important;
    transition: width 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(
      :hover
    )
    ~ #tabbrowser-tabbox {
    transition: margin 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
    ~ #tabbrowser-tabbox {
    transition: margin 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  }

  @media (-moz-bool-pref: "shimmer.sidebar-right-side") {
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
      ~ #tabbrowser-tabbox {
      margin-right: calc(
        -1 * var(--shimmer-cbar-expanded-width) + var(--shimmer-cbar-collapsed-width)
      ) !important;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(
        :hover
      )
      ~ #tabbrowser-tabbox {
      margin-right: 0 !important;
    }
  }

  @media not (-moz-bool-pref: "shimmer.sidebar-right-side") {
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
      ~ #tabbrowser-tabbox {
      margin-left: calc(
        -1 * var(--shimmer-cbar-expanded-width) + var(--shimmer-cbar-collapsed-width)
      ) !important;
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(
        :hover
      )
      ~ #tabbrowser-tabbox {
      margin-left: 0 !important;
    }
  }
}
